<% keys = model.errors.attribute_names - (local_assigns[:except] || []) %>

<% if keys.any? %>
  <div class="alert alert-danger">

    <ul class="mb-0">
      <% keys.each do |key| %>
        <% model.errors.full_messages_for(key).each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>

  </div>
<% end %>