<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Testpoint</title>
  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'frontend' %>
</head>
<body class="singleton">
  <div id="app" class="o-min-h-screen">
  </div>
</body>
</html>