.page-header {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: flex-end;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  .actions {
    a + a {
      margin-left: 0.5rem;
    }
  }
}

.page-content {
  img {
    max-width: 100%;
  }
  table {
    display: block!important;

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }

    th, td {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
    }
  }
}

.page-nav {
  margin-bottom: 1rem;
}

.page-filter {
  display: flex;
  margin-bottom: 1rem;
}

.page-card {
  margin-bottom: 1.5rem;
}

.page-card-tabs {
  margin-bottom: -1px;
  position: relative;
  z-index: 999;

  &:has(.nav-link:first-child.active) + .card {
    border-top-left-radius: 0;
  }
}

.page-md-box {
  @media (min-width: 768px) {
    min-height: 500px;
    display: flex;
    align-items: center;
  }
}

.x-upload-area {
  padding: 0.5rem;
  border: 6px dashed #ccc;

  &.highlight {
    background-color: rgba(232, 240, 254, 0.8);
  }
}

.x-upload-container {
  min-height: 150px;
}