<div class="page-header">
  <span class="float-right">
    <%= destroy_link [ @component ], class: "btn btn-sm" %>
  </span>
  <h4><%= t "views.page.edit", model_name: @component.model_name.human %></h4>
</div>

<%= render "form", component: @component %>
