<div class="page-header">
  <%= destroy_link [ @component ], class: "btn btn-sm" %>
  <h4><%= t "views.page.edit", model_name: @component.model_name.human %></h4>
</div>

<%= render "form", component: @component %>
