<% if flash.any? %>
  <% flash.to_hash.each do |key, value| %>
    <% if value.present? %>

      <div class="alert alert-<%= bootstrap_flash_class_for(key) %> fade show" role="alert">
        <div class="alert-text"><%= value %></div>
      </div>

     <% end %>
  <% end %>
<% end %>
