<div class="page-header">
  <%= destroy_link [ @platform ], class: "btn btn-outline-danger btn-sm float-right" %>
  <h2><%=t "views.page.edit", model_name: h(@platform) %></h2>
</div>

<%= render "form", platform: @platform %>
