<div id="comment-<%= comment.id %>" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <% if comment.user.username.present? %>
          <%= comment.user.username %>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= comment.created_at.strftime("%F %T") %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= simple_format(comment.content) %>
  </div>
</div>
<br>
