<div class="page-header justify-content-between">
  <h2><%= title "所有统计报表" %></h2>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">工单提交数</h3>
        <p class="card-text">根据标签统计每个人创建的工单数量</p>

        <%= link_to "查看", issue_creator_chart_project_analytics_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>
