$root-font-size:                                  16px; // Root font size for desktop mode
$root-font-size-lg:                             	16px; // Root font size for tablet mode
$root-font-size-md:                             	16px; // Root font size for mobile mode
