<div class="dropdown d-inline">
  <a class="dropdown-toggle text-primary" data-toggle="dropdown">
    Actions
  </a>
  <div class="dropdown-menu">
    <% Issue.state.options.each do |(text, value)| %>
      <%= link_to text, [issue, issue: { state: value.to_sym }, ok_url: request.fullpath], method: :patch, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
