<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  <%= h Issue %>
</button>
<div class="dropdown-menu">
  <% if @task.issue_id.nil? %>
    <%= new_button Issue, [:new, @task, :issue], class: "dropdown-item" %>
  <% end %>
  <% relate_data = { remote: true, target: "#relate-issue", type: :xhrml } %>
  <% link_text = @task.issue_id? ? t('activerecord.isssue.id', issue_id: @task.issue_id) : t('views.action.relate') %>
  <%= link_to link_text, [:relate, @plan, @task], data: relate_data, class: "dropdown-item" %>
</div>
