<span class="text-info"><%=h Issue, activity.property.to_sym %></span>

<% if activity.before_value? %>
  从 <span class="text-primary"><%= Member.find(activity.before_value).name %> </span><span>修改为</span>
<% else %>
  <span>修改为</span>
<% end %>

<% if activity.after_value? %>
  <span class="text-primary"><%= Member.find(activity.after_value).name %></span>
<% else %>
  <span>无</span>
<% end %>
