<%= @comment.content %>
<hr>

<% @comment.attachments.each do |attachment| %>
  <% if attachment.image? %>
    <%= image_tag url_for(attachment.file), height: 320 %>
  <% end %>
<% end %>

<p><%= link_to "点击查看详情", public_mail_url("/projects/#{@issue.project_id}/issues/#{@issue.id}") %></p>