@reference '$presets/theme/main.css';

.no-margin-bottom {
  overflow: hidden;
  padding-bottom: 1px;
  margin-bottom: -1px;

  > *:last-child {
    bottom: -300px;
    margin-bottom: 300px;
    margin-top: -300px;
    position: relative;
  }
}

.markdown-body {
  p {
    margin-bottom: 1em;

    a {
      @apply text-primary hover:underline;
    }
  }

  ol {
    list-style: decimal;
    padding-left: 1.5em;
  }
}
