<% if attachmentable.attachments.any? %>
  <hr>
  <div class="attachments-box">
    <% attachmentable.attachments.each do |attachment| %>
      <div class="attachment-item col-lg-6">
        <%= render "attachments/info.html", attachment: attachment %>
      </div>
    <% end %>
  </div>
<% end %>
