<div class="card-header">
  <%= creator.smart_name %>
  <span class="ml-1 small text-muted"><%= create_or_edit_time_in_words(issue) %></span>
  <% if can? :edit, issue %>
    <div class="dropdown float-right dropdown-no-arrow">
      <a href="#", class="text-muted dropdown-toggle" data-toggle="dropdown" style="background: transparent;">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" style="min-width: 3px;">
        <% data = { target: "#issue#{issue.id}_content", type: "xhrml", remote: true } %>
        <%= edit_button [project, issue], class: "small dropdown-item", data: data %>
      </div>
    </div>
  <% end %>
</div>
