<% data = { target: "#uploadAttachmentsModal", toggle: "modal", url: change_state_plan_task_path(@plan, task) } %>
<%= content_tag :div, class: "card card-collapsed collapsed #{task.state}", data: data do %>
  <div class="card-body">
    <div class="card-title">
      <span><%= test_case.title %></span>
      <span class="badge badge-secondary"><%= task.platform.name %></span>

      <div class="small ml-2">
        <%= task_state_with_icon(task.state) %>
      </div>
    </div>
  </div>
<% end %>
