<% (@folders_mapping[key] || []).each do |folder| %>
  <li class="pl-4">
    <span class="text-muted">
      <span class="fal fa-fw fal-folder"></span> <%= folder.name %>
    </span>
    <ul class="list-unstyled">
      <%= render "folders", key: folder.id %>
      <% (@test_cases_mapping[folder] || []).each do |test_case| %>
        <% @tasks_mapping[test_case].each do |task| %>
          <li class="pl-4 mb-2 card-task-wrapper">
            <%= render "shared/card_task", test_case: test_case, task: task %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
