<% template = capture do %>
  <div class="col-lg-6 p-0 pr-2 mb-2">
    <div class="media border bg-light p-2 align-items-center">
      <div class="mr-2" style="width: 3rem">
        <div class="embed-responsive embed-responsive-1by1">
          <div class="embed-responsive-item embed-responsive-item d-flex align-items-center justify-content-center">
            <%= image_tag 'file.png', class: "h-100 upload-image" do %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="media-body d-flex flex-column">
        <h4 class="mb-0">${file_name}</h4>
        <div class="d-flex align-items-center justify-content-between flex-1">
          <div class="text-secondary small">
            <span class="upload-size">0</span> / ${file_size}
          </div>
          <a href="javascript:void(0)" class="text-nowrap small upload-cancel"><span class="fa fa-trash-o"></span></a>
        </div>
        <div class="progress" style="height: 4px;">
          <div class="upload-progress progress-bar" style="width: 0%"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= content_tag :div, class: "upload-area pt-2 pl-2", data: { controller: "attachment", url: attachments_url, name: 'attachment[file]', template: template } do %>
  <div class="d-flex flex-wrap upload-container" data-target="attachment.container">
   <% attachments.each do |attachment| %>
     <div class="col-lg-6 p-0 pr-2 mb-2">
       <%= render "attachments/info.html", attachment: attachment %>
     </div>
   <% end %>
  </div>
  <div class="text-muted small text-right mr-2 mb-2 lh-100">
    拖拽上传 或者
    <label class="text-primary c-pointer mb-0">
      本地上传
      <input type="file" class="d-none" multiple data-action="change->attachment#uploadByInput">
    </label>
  </div>
<% end %>
