<% time = Time.now.to_i %>
<div>
  <%= image_tag @attachment.file.url, size: "300x300", class: "mb-1" %>
  <%= text_area_tag "task[task_attachments_attributes][#{time}][content]", "", class: "form-control" %>
  <%= hidden_field_tag "task[task_attachments_attributes][#{time}][attachment_id]", @attachment.id %>
</div>
