<div class="page-header justify-content-between">
  <h2><%= title(page_i18n :index, model_name: h(@plans)) %></h2>
  <%= new_button [@project, :plan], class: "btn-sm", data: { remote: true, toggle: "modal", target: "#newPlanModal", url: new_project_plan_path(@project, @plan) } if can? :new, Plan %>
</div>


<p>近期计划</p>
<%= render 'cards-group', plans: @plans.where(created_at: 1.week.ago..Time.now) %>

<p>更早的计划</p>
<%= render 'cards-group', plans: @plans.where(created_at:  Time.at(0)..1.week.ago)%>



<div id="newPlanModal" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-center">
        <div class="spinner-border p-5 m-5" role="status"></div>
      </div>
    </div>
  </div>
</div>
