@import './bootstrap-v4/variables';

// ========================
// Layouts
// ------------------------
#tp-main, #tp-sidebar {
  padding: 1rem;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;

  #tp-contianer {
    flex: 1;
  }

  #tp-main {
    overflow: scroll;
  }
}

// ========================
// Styles
// ------------------------
.page-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;

  .actions {
    a + a {
      margin-left: 0.5rem;
    }
  }
}

.page-actions {

}

.table + .table-pagination {
  padding-top: 1rem;
  margin-top: -1rem;
  border-top: 1px solid #e9ecef;
}

.table-pagination {
  .pagination {
    justify-content: flex-end;
  }
}

.tp-side-link {
  padding: 0.25rem 0;

  > a {
    color: rgba(0,0,0,.65);
  }

  &.active > a {
    color: red;
  }
}

article {
  line-height: 1.4;

  p {
    margin-bottom: 0.5em;
  }
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-collapsed {
  vertical-align: middle;
  border-color: rgba(0, 0, 0, 0.25);

  &.pass, &.failure {
    color: $text-muted;
    border-color: rgba(0, 0, 0, 0.125);

    .badge {
      opacity: 0.7;
    }
  }

  .card-body {
    padding: 0.5rem 1rem;
  }

  .card-title {
    margin-bottom: 0;
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &[data-toggle] {
    cursor: pointer;
  }
}

.marginfix-bottom {
  overflow: hidden;
  margin-bottom: -100px;

  > .inner {
    margin-bottom: 100px;
  }
}

.hidden {
  display: none !important;
}

.hidden-actions {
  .actions {
    display: none;
  }

  &:hover, &.hover {
    .actions {
      display: inline-block;
    }
  }
}

.task-attachment-item {
  .remove-attachment {
    padding-left: 5px;
    margin-top: -5px;
  }
}
