.page-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.page-actions {

}

.table + .table-pagination {
  padding-top: 1rem;
  margin-top: -1rem;
  border-top: 1px solid #e9ecef;
}

.table-pagination {
  .pagination {
    justify-content: flex-end;
  }
}

html {
  height: 100%;
}

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tp-navbar {
  min-height: 4rem;
}

.tp-sidebar {
  top: 4rem;
}

.tp-side-link {
  padding: 0.25rem 0;

  > a {
    color: rgba(0,0,0,.65);
  }

  &.active > a {
    color: red;
  }
}
