<span class="text-primary"><%= link_to "##{issue.id} #{issue.title_width_priority}", [issue.project, issue] %></span>
<span class="text text-issue-<%= issue.state %> small">(<%= issue.state.text %>)</span>
