<% project = issue_relationship.member.project %>

<% if issue ==  issue_relationship.source %>
    <% target = issue_relationship.target %>
<% else %>
    <% target = issue_relationship.source %>
<% end %>

<span class="text-primary"><%= link_to "##{target.id} #{target.title_with_priority}", [target.project, target] %></span>
<span class="text text-issue-<%= target.state %> small me-2">(<%= target.state.text %>)</span>

<span>标记为该问题的相关问题</span>
