<div class="page-header">
  <h2><%= page_i18n :edit, model_name: h(@platform) %></h2>
  <div class="actions ml-auto">
    <%= destroy_button [@project, @platform] %>
  </div>
</div>

<%= bootstrap_horizontal_form_for [@project, @platform] do |f| %>
  <%= render "form", f: f %>
<% end %>
