@import '../bootstrap-ext/all.scss';

.badge-issue-pending {
  @extend .badge;
  @extend .bg-warning;
}

.badge-issue-waiting {
  @extend .badge;
  @extend .bg-danger;
}

.badge-issue-confirmed {
  @extend .badge;
  @extend .bg-info;
}

.badge-issue-processing {
  @extend .badge;
  @extend .bg-primary;
}

.badge-issue-closed {
  @extend .badge;
  @extend .bg-secondary;
}

.badge-issue-resolved {
  @extend .badge;
  @extend .bg-success;
}

.badge-issue-processed {
  @extend .badge;
  @extend .bg-success;
}

.text-issue-pending {
  color: $warning;
}

.text-issue-waiting {
  color: $danger;
}

.text-issue-confirmed {
  color: $info;
}

.text-issue-processing {
  color: $primary;
}

.text-issue-closed {
  color: $secondary;
}

.text-issue-resolved {
  color: $success;
}

.text-issue-processed {
  color: $success;
}

.issue-comment blockquote {
  padding: 0.3rem 1rem;
  margin: 1rem 0;
  color: $gray-600;
  border-left: 0.3rem solid $gray-300;
}

.text-issue-priority-important {
  color: $danger;
}

.text-issue-priority-normal {
  color: $secondary;
}
