@import '../bootstrap-ext/variables.scss';

.issue-comment, .issue-content {
  .avatar {
    width: 60px;
    margin-right: 15px;
  }
}

.issue-activity, .issue-task {
  border-left: 1px solid $border-color;
  margin-left: 60px + 15px + 20px;
  padding: 0.75rem 1rem;
  .avatar {
    width: 25px;
  }
}

.issue-comment + .issue-comment, .issue-comments + .issue-comment, .issue-content + .issue-comments {
  &:before {
    content: " ";
    display: block;
    height: 1.5rem;
    border-left: 1px solid $border-color;
    margin-left: 60px + 15px + 20px;
    width: 100%;
  }
}

.badge-issue-pending {
  @include badge-variant($info);
}

.badge-issue-processing {
  @include badge-variant($primary);
}

.badge-issue-closed {
  @include badge-variant($secondary);
}

.badge-issue-resolved {
  @include badge-variant($success);
}


.text-issue-pending {
  color: $info;
}

.text-issue-processing {
  color: $primary;
}

.text-issue-closed {
  color: $secondary;
}

.text-issue-resolved {
  color: $success;
}
