@import '../bootstrap-ext/variables.scss';

.badge-issue-pending {
  @include badge-variant($warning);
}

.badge-issue-waiting {
  @include badge-variant($danger);
}

.badge-issue-confirmed {
  @include badge-variant($info);
}

.badge-issue-processing {
  @include badge-variant($primary);
}

.badge-issue-closed {
  @include badge-variant($secondary);
}

.badge-issue-resolved {
  @include badge-variant($success);
}


.text-issue-pending {
  color: $warning;
}

.text-issue-waiting {
  color: $danger;
}

.text-issue-confirmed {
  color: $info;
}

.text-issue-processing {
  color: $primary;
}

.text-issue-closed {
  color: $secondary;
}

.text-issue-resolved {
  color: $success;
}

.issue-comment blockquote {
  padding: 0.3rem 1rem;
  margin: 1rem 0;
  color: $gray-600;
  border-left: 0.3rem solid $gray-300;
}
