<% (@components_mapping[key] || []).each do |component| %>
  <li class="pl-4">
    <div class="text-muted hidden-actions">
      <span class="fa fa-fw fa-folder-o"></span> <%= component.name %>
      <span class="actions ml-1">
        <%= edit_link [:edit, component, ok_url: request.fullpath] %>
      </span>
    </div>
    <ul class="list-unstyled">
      <%= render "components", key: component.id %>
      <% (@test_cases_mapping[component] || []).each do |test_case| %>
        <li class="pl-4 mb-2 card-task-wrapper">
          <%= render "shared/card_test_case", test_case: test_case %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
