<div class="page-header">
  <h2><%=page_i18n :show, model_name: h(@test_case) %></h2>
</div>

<h5><%= @test_case.title %></h5>
<div>
  <%= @test_case.content %>
</div>

<hr>

<%= cancel_link url_for(action: :index), class: "btn btn-link" %>
