<div class="page-header">
  <h2><%= t "views.page.show", model_name: @test_case.model_name.human %></h2>
</div>

<h5><%= @test_case.title %></h5>
<div>
  <%= @test_case.content %>
</div>

<hr>

<%= cancel_link url_for(action: :index), class: "btn btn-link" %>
