<div class= "issue-comments" id="issue_comments">
  <% (@issue.activities + @issue.comments).sort_by(&:created_at).each do |record| %>
    <% if record.is_a?(Comment) %>
      <%= render "projects/issues/card_comment.html", comment: record %>
    <% elsif record.is_a?(IssueActivity) %>
      <%= render "projects/issues/card_activity.html", activity: record %>
    <% end %>
  <% end %>
</div>
