<% (@issue.activities + @issue.comments + @issue.source_relationships + @issue.target_relationships).sort_by(&:created_at).each do |record| %>
  <% if record.is_a?(Comment) %>
    <% if record.collapsed? %>
      <%= render template: "projects/comments/unfold.xhrml", locals: { comment: record } %>
    <% else %>
    <div class="issue-comment">
      <%= render "projects/issues/card_comment.html", comment: record %>
    </div>
    <% end %>
  <% elsif record.is_a?(IssueActivity) %>
    <%= render "projects/issues/card_activity.html", activity: record %>
  <% elsif record.is_a?(IssueRelationship) %>
    <%= render "projects/issues/card_relationship.html", issue_relationship: record, issue: issue %>
  <% end %>
<% end %>
