<div class="issue-activity">
  <% user = activity.member.user %>
  <%= image_tag user.avatar_url, class: "rounded-circle avatar" %>
  <span><%= activity.member.name %> 将</span>
  <%= render "projects/issues/activity/#{activity.property}.html", activity: activity %>
  <span class="small text-muted"><%= time_ago_in_words(activity.created_at) %>前</span>
</div>
