<div class="issue-activity mb-3">
  <%= image_tag activity.member.user.avatar_url, width: 20, class: "rounded-circle avatar" %>

  <span><%= activity.member.name %> 将</span>

  <%= render "projects/issues/activity/#{activity.property}.html", activity: activity %>

  <span class="small text-muted"><%=l activity.created_at, format: :long %></span>
</div>
