.flatpickr-btn-container {
  display: flex;
  background: rgba(0, 0, 0, .06);

  .flatpickr-confirm {
    flex: 1;
    display: none;

    &.visible {
      display: flex;
    }
  }
}

.flatpickr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  flex: 1;
}
a.input-group-addon {
  border: 1px solid #ced4da;
  display: block;
  padding: 8.5px 12px;
  cursor: pointer;
  line-height: 1;
}