.flatpickr-selectdate {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, .06);
}

.flatpickr-btn {
  height: 20px;
  flex-grow: 1;
  border: 0px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}