.flatpickr-btn-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, .06);
}

.flatpickr-btn {
  height: 20px;
  flex-grow: 1;
  border: 0px;
  font-size: 14px;
  visibility: visible;
  outline: none;
  background: rgba(0, 0, 0, 0);
}