<div class="page-header">
  <h3><%= @plan.title %></h3>
</div>

<hr>

<% @tasks_mapping = @plan.tasks.with_test_case.with_platform.group_by(&:test_case) %>
<% @test_cases_mapping = @tasks_mapping.keys.group_by(&:component) %>
<% component_ids = @test_cases_mapping.keys.flat_map(&:ancestor_ids_with_self).uniq %>
<% @components_mapping = Component.where(id: component_ids).group_by(&:parent_id) %>

<ul class="list-unstyled">
  <%= render "components", key: nil %>
</ul>
