<div class="row justify-content-center mt-5">
  <div class="col-sm-10 col-md-7 col-lg-6 col-xl-5">
    <div class="card">
      <h3 class="card-header"><%= t("forgot_your_password", scope: "devise.passwords.new") %></h3>
      <%= bootstrap_vertical_form_for resource, as: resource_name, url: reset_password_path, html: { method: :post } do |f| %>
        <div class="card-body">
          <div class="no-margin-bottom">
            <%= f.input :email, required: true, autofocus: true %>
          </div>
        </div>

        <div class="card-footer d-flex align-items-center">
          <div class="actions mr-auto">
            <%= f.submit t("send_me_reset_password_instructions", scope: "devise.passwords.new"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
