<% if flash.any? %>
  <% flash.to_hash.each do |key, value| %>
    <% if value.present? %>

      <div class="alert alert-<%= bootstrap_flash_class_for(key) %> alert-dismissible fade show m-3" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

     <% end %>
  <% end %>
<% end %>
