<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="singleton">
    <%= render "layouts/nav" %>
    <%= render "layouts/flash" %>

    <div class="app-container d-flex flex-column">
      <%= yield %>
    </div>

  </body>
</html>
