<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="singleton">
    <%= render "layouts/nav" %>
    <%= render "layouts/flash" %>

    <div class="app-container d-flex flex-column">
      <%= yield %>
    </div>

    <div id="applicationModal" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="d-flex justify-content-center">
            <div class="spinner-border p-5 m-5" role="status"></div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
